<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="application/ld+json">
            {
            "context": "http://schema.org",
            "type": "GeneralContractor",
            "address": {
            "type": "PostalAddress",
            "addressLocality": "Richmond Hill",
            "addressRegion": "ON",
            "postalCode": "L4C 5E6",
            "streetAddress": "124 Avenue Rd"
            },
            "name": "Royal Crown Stucco",
            "url": "http://www.royalcrownstucco.com",
            "email": "info@royalcrownstucco.com",
            "priceRange": "$",
            "telephone": "6478633774",
            "image": "http://www.royalcrownstucco.com/images/header_logo.png",
            "openingHours": [
            "Monday - 9 AM - 9 PM", "Tuesday - 9 AM - 9 PM", "Wednesday - 9 AM - 9 PM", "Thursday - 9 AM - 9 PM", "Friday - 9 AM - 9 PM", "Saturday - 9 AM - 9 PM", "Sunday - Closed"
            ]
            }
        </script>
        <meta name="google-site-verification" content="wQvGPPNbkT18OEZ-xRyIPNqJ0L1RJsfC5aBD0wxKMbs" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120371291-1"></script>
        <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-120371291-1');
        </script>
        <meta charset="utf-8" />
        @*<title>@ViewBag.Title - Royal Crown Stucco</title>*@
        <title>@ViewBag.Title</title> 
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="@Html.Raw(@ViewBag.Description)" />
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
       
        <!-- Web Fonts  -->
        <link href="~/Content/css/css_003.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/css_002.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/css.css" rel="stylesheet" type="text/css">

        <!-- Theme Style -->
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/css/theme.css">
        <link rel="stylesheet" href="~/Content/css/theme-animate.css">
        <link rel="stylesheet" href="~/Content/css/theme-elements.css">
        <link rel="stylesheet" href="~/Content/css/plugins.css">
        <!-- Skin CSS -->
        <link id="skin" rel="stylesheet" href="~/Content/css/sun.css">
        
        <!-- Icon Fonts -->
        <link rel="stylesheet" href="~/Content/css/font-awesome.css" type="text/css" media="screen">

        <!-- Library Css -->
        <link rel="stylesheet" href="~/Content/css/skeleton.css">
        <link rel="stylesheet" href="~/Content/css/flexslider.css">

        <link rel="stylesheet" href="~/Content/css/isotope.css">
        <link rel="stylesheet" href="~/Content/css/owl.css">
        <link rel="stylesheet" href="~/Content/css/prettyPhoto.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/settings.css" media="screen">
        <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
        <link href="~/Content/css/owl.theme.css" rel="stylesheet">
        <!-- Responsive Theme -->
        <link rel="stylesheet" href="~/Content/css/theme-responsive.css" type="text/css">
        <!-- masterslider-->
        <link href="~/Content/css/ms-style/masterslider.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="~/Content/css/ms-style/ms-layers-style.css" />
        <link href="~/Content/css/ms-skins/light-3/style.css" rel='stylesheet' type='text/css'>
        <link href="~/Content/css/ms-skins/black-2/style.css" rel='stylesheet' type='text/css'>
        <link href="~/Content/css/owl.theme.css" rel="stylesheet">
        <link href="~/Content/css/owl.transitions.css" rel="stylesheet">
        <!-- loader-->
        <link rel="stylesheet" type="text/css" href="~/Content/css/loader.css">

        <!-- Library Js -->
        

        <script src="~/Scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.prettyPhoto.js" type="text/javascript"></script>
        <script style="" src="~/Scripts/modernizr.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-810011802"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-810011802'); </script>
    </head>
    <body>
        <!-- BOF Loader -->
        <!-- EOF Loader -->
        <!--button-->
        <button class="slicknav_btn">
            <i class="fa fa-tasks"></i>
        </button>

        <ul class="slicknav menu" id="mobile-menu" style="display:none">
            <!-- Item 1 -->
            <li class="with-sub">
                <a href="/RoyalCrown/index">Home</a>
            </li>
            <!-- Item 2 -->
            <li class="with-sub">
                <a href="/RoyalCrown/index">About Us</a>
            </li>
            <!-- Item 3 -->
            <li class="with-sub for-mobile">
                <a href="/RoyalCrown/services">Services</a>
            </li>
            <!-- Item 3 -->
            <li class="with-sub for-mobile"><a href="/RoyalCrown/OurProjects">our projects</a></li>
            <!-- Item 4 -->
            <li class="with-sub">
                <a href="/RoyalCrown/ContactUs">Contact Us</a>
            </li>
        </ul>

        <!-- BOF Header -->

        <header class="">
            <div class="jx-header-1">

                <!-- Top Menu -->
                <div class="jx-top-menu">
                    <div class="container">
                        <div class="eight columns left">

                            <ul class="jx-left-infobar">
                                <li><i class="fa fa-phone" style="color:white;"></i><a href="tel:+1 647-863-3774"><span>+1 647-863-3774</span></a></li>
                                <li><i class="fa fa-envelope" style="color:white;"></i> <a href="mailto: info@royalcrownstucco.com"><span>info@royalcrownstucco.com</span></a></li>
                            </ul>

                        </div>
                        <!-- Left Items -->

                        <div class="eight columns right">

                            <ul class="jx-right-infobar">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <!-- Social icons-->



                            </ul>


                        </div>
                    </div>
                    <!-- Right Items -->

                </div>
                <!-- Top Menu -->

                <div class="jx-header jx-white-bg  jx-sticky">
                    <div class="jx-container-slope jx-bottom-slope jx-right-slope jx-white-bg"></div>
                    <!-- container slope -->

                    <div class="container">

                        <div class="four columns">

                            <div class="jx-header-logo">
                                <a href="/RoyalCrown/index"><img src="/images/header_logo.png" alt="Royal Crown Stucco Logo"></a>
                            </div>
                            <!-- Logo -->
                        </div>


                        <div class="twelve columns right">

                            <div class="nav_container right">
                                <ul id="jx-main-menu" class="menu">
                                    <!-- Item 1 -->
                                    <li class="with-sub">
                                        <a href="/RoyalCrown/index">Home</a>
                                    </li>
                                    <!-- Item 2 -->
                                    <li class="with-sub">
                                        <a href="/RoyalCrown/about">About Us</a>
                                    </li>
                                    <!-- Item 3 -->
                                    <li class="with-sub for-mobile">
                                        <a href="/RoyalCrown/services">Services</a>
                                    </li>
                                    <!-- Item 3 -->
                                    <li class="with-sub for-mobile">
                                        <a href="/RoyalCrown/OurProjects">our projects</a>

                                    </li>

                                    <li class="with-sub">
                                        <a href="/RoyalCrown/ContactUs">Contact Us</a>
                                    </li>

                                </ul>
                            </div>
                            <!-- EOF Menu -->

                        </div>

                    </div>
                </div>
            </div>
        </header>

        <!-- EDF Header -->
<div id="body">
<!-- Clickcease.com tracking-->
<script type="text/javascript">
var script = document.createElement("script");
script.async = true; script.type = "text/javascript";
var target = 'https://www.clickcease.com/monitor/stat.js';
script.src = target;
var elem = document.head;
elem.appendChild(script);
</script>
<noscript><a href="https://www.clickcease.com" ><img src="https://monitor.clickcease.com/stats/stats.aspx" alt="ClickCease" /></a></noscript>
<!-- Clickcease.com tracking-->
@RenderSection("featured", required: false)
<section class="content-wrapper main-content clear-fix">
@RenderBody()
</section>
</div>
       
        <!-- BOF Footer -->

        <footer class="main-footer">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="container">
               
                	
                    <!--Two 4th column-->
                    
                    	<div class="row clearfix">
                            <div class="col-lg-5  column">
                                <div class="footer-widget about-widget">
                                    <div class="logo"><a href="#"><img src="/Images/header2.png" class="img-responsive" alt="" ></a></div>
									<p> With great pride we would like to introduce ROYAL CROWN STUCCO LTD. as one of the fastest growing full service in exterior insulation finish system (EIFS) Stucco. 
									We provide both commercial and residential construction services. We pride ourselves in meeting the highest standards of workmanship for every project we undertake.</p>
                                   
                                </div>
                            </div>
                            
                            <!--Footer Column-->
							
                            <div class="col-md-3  column">
                                <h2>Quick Links</h2>
                                 <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="/RoyalCrown/index">Home</a></li>
                                        <li><a href="/RoyalCrown/about">About Us</a></li>
                                        <li><a href="/RoyalCrown/services">Services</a></li>
                                        <li><a href="/RoyalCrown/OurProjects"> Our Projects</a></li>
                                        <li><a href="/RoyalCrown/ContactUs">Contact Us</a></li>
                                    </ul>
                                    </div>
                            </div>
                   
                    <!--Two 4th column End-->
                    
                    <!--Two 4th column-->
                    
                    	
                            
                            <!--Footer Column-->
                            <div class="col-md-3  column">
                                <div class="footer-widget links-widget">
                                	<h2>Contact Us</h2>
                                 
                                    <ul class="contact-info">
                                    	<li><span class="icon fa fa-map-marker"></span> 124 Avenue Rd, Richmond Hill, ON L4C 5E6, Canada</li>
                                        <li><span class="icon fa fa-phone"></span><a href="tel:+1 647-863-3774">(+1) 647-863-3774</a></li>
										<li><span class="icon fa fa-envelope-o"></span><a href="mailto:info@royalcrownstucco.com"> info@royalcrownstucco.com</a></li>

                                    </ul>
                                    
                                   <div class="social-links-two clearfix">
									<div class="bg-blue">
                                    	<a href="https://www.facebook.com/Royal-Crown-Stucco-Ltd-287473578095056"  class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
										</div>
                                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
										<div class="bg-red">
                                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                      
										</div>
										<div class="bg-yellow">
                                        <a href="#" class="linkedin img-circle"><span class="fa fa-instagram"></span></a></div>
        
                                
                            </div>
                    	</div>
                    </div><!--Two 4th column End-->
                    
                </div>
                
            </div>
        </div>
        </div>
        
       <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
                <!--Copyright-->
                <div class="copyright text-center">Copyright 2018 Royal Crown Stucco By <a href="#">Only4Agents</a></div>
            </div>
        </div>
        
    </footer>

        
        

        <!-- Footer -->
        <script src="~/Scripts/wow.min.js" type="text/javascript"></script>
        <script src="~/Scripts/masterslider.min.js"></script>
        
        <script src="~/Scripts/owl.carousel.js"></script>
        <script src="~/Scripts/owl-slider.js"></script>
        
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_007.js"></script>
        <script type="text/javascript" src="~/Scripts/plugins.js"></script>
        <script type="text/javascript" src="~/Scripts/respond.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_003.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_006.js"></script>
        <script type="text/javascript" src="~/Scripts/owl.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_002.js"></script>
        <script type="text/javascript" src="~/Scripts/twitter.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_005.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_005.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery_004.js"></script>
        <script src="~/Scripts/jquery.waypoints.js"></script>
        <script src="~/Scripts/jquery.mixitup.js"></script>
        <script src="~/Scripts/custom.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.prettyPhoto.js" type="text/javascript"></script>

        <!-- EOF Footer -->

        @*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
    </body>
</html>
